* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fafafa;
  font-family: sans-serif;
}

a {
  text-transform: lowercase;
  text-decoration: none;
  font: sans-serif;
  color: #079;
  font-style: italic;
}

a:hover, a:focus {
  color: #3be;
}

p {
  padding-bottom: 10px;
}

.head {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ad0;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #ad0;
  width: 50%;
  color: #079;
}

#header {
  width: 100%;
  margin: 10px auto 0px;
  height: 100%;
  clear: both;
}

#breadcrumb {
  border: 0px;
  border-bottom: 3px solid #ad0;
  float: left;
  width: 100%;
}

#breadcrumb span {
  float: left;
  text-align: center;
}

#breadcrumb a {
  display: block;
  padding: 5px 5px;
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
  background-color: #19c;
}

#breadcrumb a:hover, #breadcrumb a:focus {
  background-color: #3be;
  color: #fff;
}

#mid {
  width: 100%;
  color: #079;
  font-size: 0.8em;
  border-collapse:collapse;
}

#content {
  vertical-align: top;
  text-align: justify;
  padding: 10px;
  background-color: #ECF7FD;
  border-bottom: 3px solid #ad0;
}

#navleft {
  vertical-align: top;
  width: 15%;
  border-right: 3px solid #ad0;
}

#navleft a {
  display: block;
  padding: 5px 5px;
  font: sans-serif;
  text-transform: lowercase;
  background-color: #ECF7FD;
  text-decoration: none;
  color: #079;
}

#navleft a:hover, #navleft a:focus {
  background-color: #3be;
  color: #fff;
}

#navleft li.current a {
  background-color: #ad0;
  color: #079;
  text-decoration: none;
}

#copy {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  font-size: 0.75em;
  color: #079;
}
